@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-heading {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

body,
label,
th,
a,
h1,
h2,
p {
  font-family: 'Rubik', sans-serif;
}

.bg-custom {
  background-color: #6c63ff;
}

main {
  background-color: rgba(108, 99, 255, 0.8);
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(108, 99, 255, 0.1);
}

label {
  color: #3E37D5;
  font-weight: 800;
  font-size: 1.3rem;
}

input {
  color: #f5f5f5;
  background-color: rgba(108, 99, 255, 0.8);
  width: 100%;
  flex: 1;
  padding: 15px;
  border: 1px solid rgba(108, 99, 255, 0.4);
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

button {
  background-color: #6c63ff;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

td,
th,
table {
  border-radius: 10px;
  padding: 5px;
}

table {
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 10px 15px;
  text-align: center;
}

th {
  color: #3E37D5;
  font-weight: 800;
  font-size: 1.3rem;
}

td {
  color: #f5f5f5;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: rgba(0, 18, 25, 0.4);
}

@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }

  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }

  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }

  .landing-page header .links li {
    margin-left: auto;
  }

  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 200px);
    justify-content: center;
    flex-direction: column-reverse;
  }

  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px;
  }
}
