@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

header {
	display: flex;
	padding: 10px;
	position: relative;
}

.home-link {
	color: #fff;
	text-decoration: none;
	position: absolute;
	right: 100px;
	background-color: #6c63ff;
	border-radius: 20px;
	padding: 10px 12px;
	transition: transform 0.3s ease;
}

.home-link:hover {
	transform: scale(1.1);
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	color: #6c63ff;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h2 {
	color: #333;
	margin-bottom: 20px;
}

input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 250px;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

button {
	padding: 12px 24px;
	/* Aumenta o tamanho dos botões */
	font-size: 16px;
	/* Aumenta o tamanho da fonte dos botões */
	background-color: #6c63ff;
	color: #fff;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	margin: 0 5px;
	transition: transform 0.3s ease;
}

button:hover {
	background-color: #6c63ff;
	transform: scale(1.1);
}

form {
	color: #5d5d5d;
}

.form-container {
	text-align: center;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 300px;
	width: 100%;
}

#mensagem {
	padding-top: 20px;
	margin-top: 20px;
}