.custom-table {
     width: 100%;
     border-collapse: collapse;
}
 .custom-tbody {
     background-color: rgba(0, 18, 25, 0.8);
}
 .custom-table td, .custom-table th {
     padding: 12px 15px;
     border: 1px solid rgba(0, 18, 25, 0.4);
     text-align: center;
}
 .custom-table th {
     color: #969696;
     background-color: rgba(0, 18, 25, 0.8);
     font-weight: 800;
     font-size: 1.3rem;
     text-align: center;
}
 .custom-table td {
     padding: 20px 25px;
     border: 1px solid rgba(0, 18, 25, 0.4);
     text-align: center;
     color: #f5f5f5;
     font-weight: 600 
}
 .custom-table .custom-tbody tr:nth-child(even) {
     background-color: rgba(0, 18, 25, 0.4);
}
 @media(max-width: 1600px){
     .custom-table .custom-thead {
         display: none;
    }
     .custom-table, .custom-table tbody, .custom-table tr, .custom-table td {
         display: block;
         width: 100%;
    }
     .custom-table td{
         text-align: right;
         padding-left: 50%;
         text-align: right;
         position: relative;
    }
     .custom-table .custom-tbody td input{
         width: 70%;
         max-width: 300px;
         max-height: 21px;
    }
     .custom-table td::before{
         content: attr(data-label);
         position: absolute;
         left: 0;
         width: 100%;
         padding-left: 15px;
         font-size: 15px;
         font-weight: bold;
         text-align: left;
    }
}
 @media (max-width: 800px) {
     .custom-table th {
         display: none;
    }
     .custom-table .custom-tbody td input{
         width: 70%;
         max-width: 200px;
         max-height: 21px;
    }
     main{
         margin: 15px;
    }
     .lista-clientes{
         padding: 0;
    }
     .btn-add-position{
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0 auto;
    }
     .adicionar-form {
         width: 70%;
    }
     span {
         display: inline-block;
         max-width: 200px;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
    }
}
 @media (max-width: 500px) {
     span {
         display: inline-block;
         max-width: 150px;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
    }
    .custom-table .custom-tbody td input{
         width: 70%;
         max-width: 150px;
         max-height: 21px;
    }
}
/* GALAXY FOLD */
 @media (max-width: 330px) {
     span {
         display: inline-block;
         max-width: 100px;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
    }
     .custom-table th {
         display: none;
    }
     .custom-table td {
         text-align: center;
         padding: 0;
    }
     .custom-table td::before {
         content: none;
    }
     .custom-table td input {
         width: 100%;
         max-width: 100%;
    }
}